.span-24.last#footer
	.span-1 &nbsp;
	.span-3.center
		%p
			Powered by:
			%br
			= link_to "Ruby on Rails", "#"
	.span-16.center.last
		&copy; 2011 Repro Graphix, Inc.
		%br
		= link_to "Home Page", "http://www.reprographix.com"
		|
		= link_to "ePlanroom", "http://eplanroom.reprographix.com/"
	.span-4 &nbsp;

